<td id="left"></td>
<td id="center">
<h1>About Kabooru</h1>
<p>Kabooru is a enterprise knowledge system from Spinaxys Solutions. The founders hope that Kabooru will make them famous and stinkingly rich.</p>
</td>
<td id="right"></td>